%header
  %h1= post.title

  .authordetails
    %span
      By
      %strong
        = link_to @author.full_name, comfy_blog_posts_path(author: @author.id)
      |
      = post.published_at.to_formatted_s(:ordinal)
.blog_entry
  = post.content.html_safe

.blog_author_description
  .row
    .col-md-9
      %p
        %span.author_name_single_post
          = @author.full_name
        %br
        %span.author_description_single_post
          = @author.description.html_safe if @author.description

