%header
  %h1= post.title

  .authordetails
    %span
      By
      %strong
        = link_to post.authors.first.full_name, comfy_blog_posts_path(author: post.authors.first.id)
      |
      = post.published_at.to_formatted_s(:ordinal)
.blog_entry
  = post.content.html_safe

.blog_author_description
  .row
    .col-md-9
      %p
        %span.author_name_single_post
          = post.authors.first.full_name
        %br
        %span.author_description_single_post
          = post.authors.first.description.html_safe if post.authors.first.description

