-# content_for :blog_seo_data do
  -# comfy_blog_post_seo_tags(@post, request)
%article.blog_single
  .container.blog_container
    .col-md-8.col-md-offset-2
      = render 'comfy/blog/posts/post', post: @post

      .related_posts
        %h2= t('related_posts')
        %ul
          - if @post.related_posts.present?
            - @post.related_posts.each do |post|
              %li
                %p
                  = link_to comfy_blog_post_path(blog_path: @blog.path, slug: post.slug) do
                    = post.title
                  By
                  = post.author
          - else
            There currently are no other posts in this category.

      %h3="Comments"
      .comments
        = render :partial => 'comfy/blog/comments/form'
