- if Comfy::Blog::Category.all.present?
  = form.text_field :title, :data => {:slugify => @post.new_record?}
  = form.text_field :slug, :data => {:slug => true}
  = form.text_field :author
  = form.collection_check_boxes :category_ids, Comfy::Blog::Category.for_blog(@blog), :id, :name, label: "Categories"
  = form.text_area :content, :data => {'cms-rich-text' => true}
  = form.text_area :excerpt, :class => 'short'
  = form.text_field :published_at, :value => @post.published_at.try(:to_s, :db), :data => {'cms-datetime' => true}
  = form.form_group :is_published do
    = form.check_box :is_published

  = form.form_group :class => 'form-actions' do
    = form.submit :class => 'btn btn-primary'
    = link_to t('.cancel'), comfy_admin_blog_posts_path(@site, @blog), :class => 'btn btn-link'
- else
  %p
    At least one category must be created before a blog post can be written. Please click #{ link_to 'here', new_comfy_admin_blog_category_path(@site, @blog)} to create one.
