- if @blog.categories.present?
  #form-blocks
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#ns-Post"} Post
      %li
        %a{"data-toggle" => "tab", :href => "#ns-SEO"} SEO

    %br
    .tab-content
      #ns-Post.active.tab-pane
        .form-group
          = form.text_field :title, label: "Title*", :data => {:slugify => @post.new_record?}
          = form.text_field :slug, label: "Slug*", :data => {:slug => true}
          = form.collection_check_boxes :category_ids, @blog.categories, :id, :name, label: "Categories*"
          = form.collection_select :author_ids,
             @blog.authors.order("first_name ASC"),
             :id, :full_name, {label: "Author*"}, { multiple: false }
          = form.text_area :content, label: "Content*", :data => {'cms-rich-text' => true}
          = form.text_area :excerpt, :class => 'short'
          = form.text_field :published_at, :value => @post.published_at.try(:to_s, :db), :data => {'cms-datetime' => true}
          = form.form_group :is_published do
            = form.check_box :is_published
      #ns-SEO.tab-pane
        .form-group
          = form.text_field :seo_title
          = form.text_field :meta_description
        .form-group
          %h2 Social
          = form.text_field :facebook_title
          = form.text_area :facebook_description
          - if @post.facebook_image.present?
            .form-group
              = form.label :facebook_image, 'Facebook image', class: "control-label col-sm-2"
              = link_to image_tag(@post.facebook_image.url(:thumb)), @post.facebook_image.url(:original), target: "blank"
          = form.file_field :facebook_image, label: 'Upload Facebook image'

          = form.text_field :gplus_name, label: "Google+ name"
          = form.text_area :gplus_description, label: "Google+ description"
          - if @post.gplus_image.present?
            .form-group
              = form.label :gplus_image, 'Google+ image', class: "control-label col-sm-2"
              = link_to image_tag(@post.gplus_image.url(:thumb)), @post.gplus_image.url(:original), target: "blank"
          = form.file_field :gplus_image, label: 'Upload Google+ image'

          = form.text_field :twitter_site
          = form.text_field :twitter_creator
          = form.text_field :twitter_title
          = form.text_area :twitter_description
          - if @post.twitter_image.present?
            .form-group
              = form.label :twitter_image, 'Twitter image', class: "control-label col-sm-2"
              = link_to image_tag(@post.twitter_image.url(:thumb)), @post.twitter_image.url(:original), target: "blank"
          = form.file_field :twitter_image, label: 'Upload Twitter image'

  = form.form_group :class => 'form-actions' do
    = form.submit :class => 'btn btn-primary'
    = link_to t('.cancel'), comfy_admin_blog_posts_path(@site, @blog), :class => 'btn btn-link'

- else
  %p
    At least one category must be created before a blog post can be written. Please click #{ link_to 'here', new_comfy_admin_blog_category_path(@site, @blog)} to create one.
